<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/404.html   11 Nov 2019 12:45:12 GMT -->
{% include 'head.html' %}
<body class="page-template lookbook-template error-page belle">
<div class="pageWrapper">
	{% include 'header.html' %}
	<br><br><br>
    <!--Body Content-->
    <div id="page-content">        
        <!-- Lookbook Start -->
        <div class="container">
        	<div class="row">
            	<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
        			<div class="empty-page-content text-center">
                        <h1>Your tickets are booked successfully.</h1>
                        <p><a href="{% url 'Home' %}" class="btn btn--has-icon-after">Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                      </div>
        		</div>
        	</div>
        </div>
        <!-- Lookbook Start -->
    </div>
    <!--End Body Content-->
    
    <!--Footer-->
    {% include 'footer.html' %}
    {% include 'jsinclude.html' %}
</div>
</body>

<!-- belle/404.html   11 Nov 2019 12:45:12 GMT -->
</html>